/data/*.csv
**/__pycache__/
.pytest_cache

/data/3_kinds_pneumonia
/data/chest_X_rays_code
/data/tuberculosis
/data/COVID-19
/data/chest-x-rays
/data/*.png
/data/*.jpg

/docs/calling_bullshit.epub

yolov3.*