/data/*.csv
**/__pycache__/
.pytest_cache

/data/3_kinds_pneumonia
/data/chest_X_rays_code
/data/tuberculosis
/data/COVID-19
/data/chest-x-rays
/data/*.png
/data/*.jpg
/data/*.jpeg

/docs/calling_bullshit.epub

yolov3.*

/notebooks/git_tools.ipynb

# ignore large model files in generated/*_model/model folders
/generated/*_model/model/*
*.data-*
*.pb
*.index